# Entornos virtuales
.venv/
.env/

# Configuraciones de VSCode
.vscode/

# Cachés de Python
__pycache__/
.ipynb_checkpoints/
.pytest_cache/

# Archivos generados por Great Expectations
great_expectations/uncommitted/
gx/uncommitted/

# Archivos temporales
*.log
*.tmp
